<!--

<img src="/assets/img/single_user.png" class="mx-auto d-block">
<form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <label>Username</label>
    <input class="form-control" #Name="ngModel" name="Name" [(ngModel)]="service.formData.Name" required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="service.formData.Password" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">Login</button>
    </div>
  </div>
</form>
-->

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
  body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
</style>
</head>


<body>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Audit Management System</a>
  </nav>


  <div id="login">
      <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                      <form #form='ngForm' id="login-form" class="form"  (submit)="onSubmit(form)" autocomplete="off" >
                          <h3 class="text-center text-info">LOGIN</h3>
                              <div class="form-group">
                                  <label for="username" class="text-info">Username:</label><br>
                                  <input type="text" name="username" id="username" class="form-control" #Name="ngModel" name="Name" [(ngModel)]="service.formData.Name" required>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="text-info">Password:</label><br>
                                  <input type="password" name="password" id="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="service.formData.Password" required>
                              </div>
                              <div class="form-group">
                                  <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                  <input type="submit" name="submit" class="btn btn-primary btn-info text-center btn-md" [disabled]="form.invalid" value="Login">
                              </div>
                              <div id="register-link" class="text-right">
                                  <a href="#" class="text-info">Register here</a>
                              </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>




